---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="AI Flappy Bird Project">
	<main>
		<h3>AI Learns to Play Flappy Bird</h3>
		<p>
			This is a live, embedded demo of my Unity project. The AI uses a Genetic Algorithm and a Neural Network to learn how to play the game over successive generations.
		</p>
		
<iframe 
    src="https://itch.io/embed-upload/14944838?color=333333" 
    width="960" 
    height="560" 
    >
</iframe>

	</main>
</BaseLayout>

<style>
    main {
        text-align: center;        
        max-width: 960px; 
    }
    iframe {
        margin-top: 1.5rem;
        border: 1px solid #ccc;        
    }
</style>