---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Resume - Roman Boparai">
	<main>
        <div class="page-header">
			<h3>My Resume</h3>
			<a href="/Roman_Boparai_Resume.pdf" class="button" download>Download PDF</a>
		</div>

        <img src="/images/resume.svg" alt="Roman Boparai's Resume" class="resume-image" />
	</main>
</BaseLayout>

<style>
	.page-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5rem;
	}
	.page-header h3 {
		margin: 0;
        border: none;
	}
	.resume-image {
		width: 100%;
		border: 1px solid #eee;
	}
</style>