---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/resume.css';
---

<BaseLayout title="Resume - Roman Boparai">
	<main>
        <div class="page-header">
			<h3>My Resume</h3>
			<a href="/Roman_Boparai_Resume.pdf" class="button" download>Download PDF</a>
		</div>

        <img src="/images/resume.svg" alt="Roman Boparai's Resume" class="resume-image" />
	</main>
</BaseLayout>